* {
  box-sizing: border-box;
}

main{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  min-height: 100vh;
  padding-left: 10rem;
  padding-right: 10rem;
}

.finish_container{
  display: flex;
  justify-content: center;
}

.finish_btn{
  
  margin-top: 20px;
  width: 120px;
  height: 35px;
  background: #4D5B9E;
  border-radius: 10px;
  color: #F5F7FB;
  box-shadow: none;
  border: none;

}