* {
  box-sizing: border-box;
  font-family: karla,sans-serif;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container{
margin-right: 1rem;
margin-left: 1rem;
}


.finish_container{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.finish_btn{
  
  margin-top: 20px;
  width: 120px;
  height: 35px;
  background: #4D5B9E;
  border-radius: 10px;
  color: #F5F7FB;
  box-shadow: none;
  border: none;
  font-family: 'Inter';

}

.notVisible{
  display: none;
}
.isVisible{
  color: #293264;
  display: block;
  font-weight: bold;
  font-family: 'Inter';
}

.frontPage{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameHeader{
  font-family: 'Karla';
  color: #293264;
  font-weight: bold;
  margin-bottom: 7px;
}

.codedBy{
  color: #293264;
  font-family: 'Inter';
  font-weight: 100;
}

.startQuizBtn{
  width: 193px;
  height: 52px;
  background: #4D5B9E;
  border-radius: 15px;
  color: #F5F7FB;
  font-family: 'Inter';
  border: none;
  font-weight: 400;
}

